{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "selector-pseudo-element-colon-notation": "single",
    "selector-pseudo-class-no-unknown": [
      true, {
        ignorePseudoClasses: ['global']
      }
    ]
  },
}
