@import './styles/Variables';
:global {
  body {
    background: rgba(250,203,108,1);
    background: -moz-linear-gradient(top, rgba(250,203,108,1) 0%, rgba(250,203,108,1) 32%, rgba(255,116,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,203,108,1)), color-stop(32%, rgba(250,203,108,1)), color-stop(100%, rgba(255,116,10,1)));
    background: -webkit-linear-gradient(top, rgba(250,203,108,1) 0%, rgba(250,203,108,1) 32%, rgba(255,116,10,1) 100%);
    background: -o-linear-gradient(top, rgba(250,203,108,1) 0%, rgba(250,203,108,1) 32%, rgba(255,116,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,203,108,1) 0%, rgba(250,203,108,1) 32%, rgba(255,116,10,1) 100%);
    background: linear-gradient(to bottom, rgba(250,203,108,1) 0%, rgba(250,203,108,1) 32%, rgba(255,116,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#facb6c', endColorstr='#ff740a', GradientType=0 );
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    * {
      box-sizing: border-box;
      text-align: center;
    }
  }

  .logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .width {
    width: 100%;
  }
}

.beerTaps {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 85%;
  overflow: scroll;
}

.appWrapper {
  height: 100vh;
}

.googleLogin {
  display: inline-block;
  background: rgb(209, 72, 54);
  color: rgb(255, 255, 255);
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  @media (max-width: 767px) {
    width: auto;
  }
}

.login {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  @media (max-width: 767px) {
    top: 10px;
    width: 30%;
  }
}

.pic {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  // border: 1px solid $white;
  -webkit-box-shadow: 0px 9px 27px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 9px 27px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 9px 27px 0px rgba(0,0,0,0.37);
  @media (max-width: 767px) {
    height: 35px;
    width: 35px;
  }
}

.logoPic {
  height: 90px;
  width: auto;
  @media (max-width: 767px) {
    height: 60px;
  }
}

.user {
  font-size: 1.2rem;
  color: $white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  @media (max-width: 767px) {
    width: 25%;
    word-wrap: break-word;
  }
}

.userName {
  @media (max-width: 767px) {
    font-size: .7rem;
    justify-content: center;
  }
}

.userHeader {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 1%;
  border-bottom: 3px solid $boomtown-orange;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
